.root {
	background-color: #fff;

	.body {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		padding: 20px;
	}

	.title {
		margin-bottom: 30px;
		text-align: center;
	}

	.buttons {
		display: flex;
		justify-content: center;
		gap: 15px;
	}
}
